################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Version 0.1/WeibullSolver
/Version 0.1/WeibullSolverLibrary
/Version 0.1/WeibullSolver_WPF/bin/Debug
/Version 0.1/WeibullSolver_WPF/obj/Debug
/Version 0.1/WeibullSolver_WPF/WeibullSolver_WPF.csproj.user
/Version 0.1/WeibullSolver_WPF/WeibullSolver_WPF.csproj.user
/Version 0.1/WeibullSolver_WPF/obj/Release
/Version 0.1/.vs/WeibullSolver/v15
/Version 0.1/.vs/WeibullSolver/DesignTimeBuild
/.vs/Modla_18Sep2018/v15
/.vs
