################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Version 0.1/WeibullSolver
/Version 0.1/WeibullSolverLibrary
/Version 0.1/WeibullSolver_WPF/bin/Debug
/Version 0.1/WeibullSolver_WPF/obj/Debug
